<%- include("header") -%>
<body>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio mollitia hic
    fugit quibusdam earum unde, totam perspiciatis magni, quaerat labore ab
    iure? Nihil quae deserunt nesciunt eligendi recusandae repudiandae modi.
  </p>
</body>
